.browse {
    //width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .browse > * {
    width: 100%;
    //max-width: 800px;
  }
  
  table {
    margin-top: 16px;
    margin-bottom: 16px;
    border-collapse: collapse;
    border: 1px solid #bbbbbb;
  }
  
  tr:nth-child(odd) {
    background-color: #dddddd;
  }
  
  th, td {
    padding: 4px 8px;
    border-right: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
  }
  
  .prev {
    float: left;
  }
  
  .next {
    float: right;
  }
  .edit-button {
    background-color: #8fa1bc;
    color: white;
    cursor: pointer;
  }
  
  .delete-button {
    background-color: #e8766c;
    color: white;
    cursor: pointer;
  }
  .button-gap{
    display: flex;
    gap: 10px;
    justify-content: center;
  }
  .input {
    width: 20%;
    padding: 10px;
  }
  .submit-button {
    width: 100px;
    padding: 10px;
    background-color: #1976d2;
    color: white;
    cursor: pointer;
  }
  .col-auto{
    gap: 15px;
    display: flex;
    justify-content: end;
  }
  